@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
head,
body {
  font-family: "Philosopher", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden !important; */
}

a:active {
  color: #e9c146 !important;
}
